version 5.241.2
source https://api.nuget.org/v3/index.json
storage: none
framework: netcore3.0, netstandard2.0, netstandard2.1

group Build

source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget FSharp.Core
nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.JavaScript.Yarn
nuget Fake.DotNet.Cli
nuget Fantomas 3.2.0
nuget Fake.IO.Zip

group Client

source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget FSharp.Core
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Reactstrap 0.4.0
nuget Thoth.Json
nuget Fable.Fetch

group Server

source https://api.nuget.org/v3/index.json
storage: none
framework: netcore3.1

nuget FSharp.Core
nuget Microsoft.NET.Sdk.Functions
nuget FSharp.Compiler.Service 33.0.0
nuget Thoth.Json.Net

github nojaf/fantomas:trivia-tool /src/Fantomas/RangeHelpers.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/AstTransformer.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/SourceOrigin.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/Version.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/Dbg.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/Utils.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/FormatConfig.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/TriviaTypes.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/TokenParserBoolExpr.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/TriviaHelpers.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/TokenParser.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/Trivia.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/Context.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/SourceParser.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/SourceTransformer.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/TriviaContext.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/CodePrinter.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/CodeFormatterImpl.fs
github nojaf/fantomas:trivia-tool /src/Fantomas/CodeFormatter.fs