version 5.241.2
source https://api.nuget.org/v3/index.json
storage: none
framework: netcore3.0, netstandard2.0, netstandard2.1

group Build

source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget FSharp.Core
nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.JavaScript.Yarn
nuget Fake.DotNet.Cli
nuget FSharp.Compiler.Service 34.0.1
nuget Fantomas 3.3.0-beta-002
nuget Fake.IO.Zip

group Client

source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget FSharp.Core
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Reactstrap 0.4.0
nuget Thoth.Json
nuget Fable.Fetch

group Server

source https://api.nuget.org/v3/index.json
storage: none
framework: netcore3.1

nuget FSharp.Core
nuget Microsoft.NET.Sdk.Functions
nuget FSharp.Compiler.Service 34.0.1
nuget Thoth.Json.Net

github fsprojects/fantomas:86aa32a7ed353fe3ccc50dc75272045810189b23 /src/Fantomas/RangeHelpers.fs
github fsprojects/fantomas:86aa32a7ed353fe3ccc50dc75272045810189b23 /src/Fantomas/AstTransformer.fs
github fsprojects/fantomas:86aa32a7ed353fe3ccc50dc75272045810189b23 /src/Fantomas/SourceOrigin.fs
github fsprojects/fantomas:86aa32a7ed353fe3ccc50dc75272045810189b23 /src/Fantomas/Version.fs
github fsprojects/fantomas:86aa32a7ed353fe3ccc50dc75272045810189b23 /src/Fantomas/Dbg.fs
github fsprojects/fantomas:86aa32a7ed353fe3ccc50dc75272045810189b23 /src/Fantomas/Utils.fs
github fsprojects/fantomas:86aa32a7ed353fe3ccc50dc75272045810189b23 /src/Fantomas/FormatConfig.fs
github fsprojects/fantomas:86aa32a7ed353fe3ccc50dc75272045810189b23 /src/Fantomas/TriviaTypes.fs
github fsprojects/fantomas:86aa32a7ed353fe3ccc50dc75272045810189b23 /src/Fantomas/TokenParserBoolExpr.fs
github fsprojects/fantomas:86aa32a7ed353fe3ccc50dc75272045810189b23 /src/Fantomas/TokenParser.fs
github fsprojects/fantomas:86aa32a7ed353fe3ccc50dc75272045810189b23 /src/Fantomas/Trivia.fs